/* CSS Document */
html {
height: 100%;
}
body {
height: 100%;
background-color:#F2D7FB;
}
.header {
background-color:#64BECE;
text-align:center;
width:100%;
}
.headertop {
text-align:center;
color:#CCCCCC;
background-color: #061539;
width:100%;
font-size:18px;
}
.headertop a{
color:#CCCCCC;
}
.nav a{
color:#616f34;
padding: 14px 16px;
text-align:center;
font-size:24px;
text-decoration: none;
}
.nav a:hover{
 color:#00FF99;
}
.nav a.active {
color:#061539;
}
.slide {
text-align:center;
}
form{
width: 550px;
background-size: 50% auto;
margin: 0 auto;
    margin-top: 20px;
}
label {
	color:#666666;
    display: inline-block;
    margin-left: 18px;
    padding-top: 30px;
}
input {
    outline: none;
}
input[type=text],
input[type=password] {
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
}
input[type=submit] {
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
}
.footer {
text-align:center;
background-color:#061539;
color:#CCCCCC;
}
.footer a{
text-decoration:none;
color:#CCCCCC;
}
.productlist {
display:inline-block;
text-align:left;
width:22%;
}
ul.productlist li{

text-decoration:none;
width: 200px;
    display: inline-block;
	 vertical-align: top;
}
ul {
  list-style-type: none;
}
.productlist a{
color:#666666;
text-decoration:none;
}
.productlist img{
width:60%;
}
.flip {
  -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
	}
	.productimg {
	float: left;
	width:30%;
	}
	.productdetails {
	color:#666666;
	float:right;
	width:60%;
	}
	.profilepic {
	float: left;
	width:15%;
	}
	.changepassword{
	text-align:center;
	color:#666666;
	float:right;
	width:40%;
	}
	.profiledetails {
	padding: 14px;
	color:#666666;
	float:left;
	width:40%;
	}
	.contact {
	text-align: left;
	width:25%;
	background-color:#061539;
	color:#CCCCCC;
	margin-right: auto; margin-left: auto;
	}
	.container{
            position:relative;
            width:100%;
            border-radius:5px;
            border:1px solid red;
            overflow:hidden;
        }
.resume a{
text-decoration:none;
font-size:18px;
color:#0033FF;
}
.resume a:hover{
color:#FFFFFF;
background-color:#000000;
}
.resume a.selected{
color:#00CC66;
}
